asgiref==3.6.0
colorama==0.4.6
coverage==7.2.5
Django==4.2
django-cleanup==8.0.0
django-debug-toolbar==4.1.0
django-phonenumber-field==7.1.0
exceptiongroup==1.1.1
Faker==18.9.0
faker-vehicle==0.2.0
iniconfig==2.0.0
packaging==23.1
phonenumbers==8.13.11
Pillow==9.5.0
pluggy==1.0.0
pytest==7.3.1
pytest-cov==4.0.0
pytest-django==4.5.2
python-dateutil==2.8.2
python-dotenv==1.0.0
six==1.16.0
sqlparse==0.4.4
tomli==2.0.1
transliterate==1.10.2
tzdata==2023.3
