{% extends 'users/user.html' %}
{% load static %}

{% block edit_user %}
<form name="user-edit-form" method="post" enctype="multipart/form-data">
{% csrf_token %}
    <div class="intro-y box lg:mt-5">
    <div class="flex items-center p-5 border-b border-slate-200/60 dark:border-darkmode-400">
        <h2 class="font-medium text-base mr-auto">
            Общая информация
        </h2>
    </div>
    <div class="p-5">
        <div class="flex flex-col-reverse xl:flex-row flex-col">
            <div class="flex-1 mt-6 xl:mt-0">
                <div class="grid grid-cols-12 gap-x-5">
                    <div class="col-span-12 2xl:col-span-6">
                        <div>
                            <label for="update-profile-username" class="form-label">Никнейм</label>
                            <input id="update-profile-username" name="username" type="text" class="form-control" value="{{ user.username }}" >
                        </div>
                        <div class="mt-3">
                            <label for="update-profile-first_name" class="form-label">Имя</label>
                            <input id="update-profile-first_name" name="first_name" type="text" class="form-control" value="{{ user.first_name }}" >
                        </div>
                        <div class="mt-3">
                            <label for="update-profile-form-6" class="form-label">Email</label>
                            <input id="update-profile-form-6" name="email" type="text" class="form-control" value="{{ user.email }}" >
                            <div class="text-danger mt-2">{{ form.email.errors }}</div>
                        </div>
                    </div>
                    <div class="col-span-12 2xl:col-span-6">
                        <div class="mt-3 2xl:mt-0">
                            <label for="update-profile-role" class="form-label">Роль</label>
                            <input id="update-profile-role" type="text" class="form-control" value="{{ user.get_role_display }}" disabled>
                        </div>
                        <div class="mt-3">
                            <label for="update-profile-last_name" class="form-label">Фамилия</label>
                            <input id="update-profile-last_name" name="last_name" type="text" class="form-control" value="{{ user.last_name }}" >
                        </div>
                        <div class="mt-3">
                            <label for="update-profile-form-10" class="form-label">Номер телефона</label>
                            <input id="update-profile-form-10" name="phone_number" type="text" class="form-control" value="{{ user.phone_number.as_national }}" >
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-52 mx-auto xl:mr-0 xl:ml-6">
                <div class="border-2 border-dashed shadow-sm border-slate-200/60 dark:border-darkmode-400 rounded-md p-5">
                    <div class="h-40 relative image-fit cursor-pointer zoom-in mx-auto">
                        {% if user.photo %}
                        <img class="rounded-md" alt="Пациент" src="{{ user.photo.url }}">
                        <div title="Remove this profile photo?" class="tooltip w-5 h-5 flex items-center justify-center absolute rounded-full text-white bg-danger right-0 top-0 -mr-2 -mt-2"> <i data-lucide="x" class="w-4 h-4"></i> </div>
                        {% else %}
                        <img alt="Пациент" class="rounded-full" src="{% static "images/users/profile-5.jpg" %}">
                        {% endif %}
                    </div>
                    <div class="mx-auto cursor-pointer relative mt-5">
                        <button type="button" class="btn btn-primary w-full">Сменить фото</button>
                        <input type="file" name="photo" class="w-full h-full top-0 left-0 absolute opacity-0">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="intro-y box mt-1">
    <div class="p-5">
        <div class="flex justify-end mt-2">
            <button type="submit" class="btn btn-success w-20 mr-auto">Сохранить</button>
            <button class="btn btn-primary w-20 mr-auto">
                <a href="{% url 'users:profile' %}" class="text flex items-center" type="button">
                    <i data-lucide="" class="w-4 h-4 mr-auto"></i>
                    Отменить
                </a></button>
            <button class="btn btn-danger">
                <a href="" class="text flex items-center" type="button">
                    <i data-lucide="trash-2" class="w-4 h-4 mr-1"></i>
                    Удалить аккаунт
                </a>
            </button>
        </div>
    </div>
    </div>
<!-- END: Display Information -->
</form>
{% endblock edit_user %}