<div id="user-menu">
    <ul class="nav nav-link-tabs flex-col sm:flex-row justify-center lg:justify-start text-center" role="tablist">
        <li id="profile-tab" class="nav-item" role="presentation">
            <a href="{% url 'users:profile' %}" class="nav-link py-4 flex items-center" data-tw-target="#profile"
               aria-controls="profile" aria-selected="true" role="tab"> <i class="w-4 h-4 mr-2" data-lucide="user"></i>
                Profile </a>
        </li>
        <li id="account-tab" class="nav-item" role="presentation">
            <a href="{% url 'users:edit-profile' %}" class="nav-link py-4 flex items-center" data-tw-target="#account"
               aria-selected="false"
               role="tab"> <i class="w-4 h-4 mr-2" data-lucide="edit"></i> Обновить профиль </a>
        </li>
        <li id="change-password-tab" class="nav-item" role="presentation">
            <a href="javascript:;" class="nav-link py-4 flex items-center" data-tw-target="#change-password"
               aria-selected="false" role="tab">
                <i class="w-4 h-4 mr-2" data-lucide="lock"></i> Change Password </a>
        </li>
    </ul>
</div>
