{% extends "index/base/base.html" %}

{% block content %}
  <body class="login">
  <div class="container sm:px-10">
  <div class="block xl:grid grid-cols-2 gap-4">
  <!-- BEGIN: Login Info -->
  <div class="hidden xl:flex flex-col min-h-screen">
    <div class="my-auto">
      <img alt="Палата №6" class="-intro-x w-1/2 -mt-16" src="dist/images/illustration.svg">
      <div class="-intro-x text-white font-medium text-4xl leading-tight mt-10">
        Палата
        <br>
        №6
      </div>
      <div class="-intro-x mt-5 text-lg text-white text-opacity-70 dark:text-slate-400">Автомастерская в которой
        вылечат ваш автомобиль <p>и восстановит ваше душевное состояние</p>
      </div>
    </div>
  </div>
  <!-- END: Login Info -->
  <!-- BEGIN: Login Form -->
  <div class="h-screen xl:h-auto flex py-5 xl:py-0 my-10 xl:my-0">
    <div
        class="my-auto mx-auto xl:ml-20 bg-white dark:bg-darkmode-600 xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-2/4 xl:w-auto">
      <h2 class="intro-x font-bold text-2xl xl:text-3xl text-center xl:text-left">
        Зайди в палату
      </h2>

      <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="intro-x mt-8">

          {% if form.non_field_errors %}
          {% for error in form.non_field_errors %}
          <p class="errornote">
              {{ error }}
          </p>
          {% endfor %}
          {% endif %}
          <div class="text-danger mt-2">{{ form.username.errors }}</div>
          <label for="login-email"></label>
          <input id="login-email" name="{{ form.username.html_name }}" type="text"
                 class="intro-x login__input form-control py-3 px-4 block" placeholder="Электронная почта">

          <div class="text-danger mt-2">{{ form.password.errors }}</div>
          <label for="login-password"></label>
          <input id="login-password" name="{{ form.password.html_name }}" type="password"
                 class="intro-x login__input form-control py-3 px-4 block mt-4" placeholder="Пароль">
        </div>
        <div class="intro-x mt-5 xl:mt-8 text-center xl:text-left">
          <button class="btn btn-primary py-3 px-4 w-full xl:w-32 xl:mr-3 align-top" type="submit">Login</button>
          <a href="">
            <button class="btn btn-outline-secondary py-3 px-4 w-full xl:w-32 mt-3 xl:mt-0 align-top" type="button">
              Register
            </button>
          </a>
        </div>
      </form>
    </div>
  </div>
  </div>
  <!-- END: Login Form -->
{% endblock content %}
