{% extends "index/base/base.html" %}

{% block content %}
  <body class="login">
  <div class="container sm:px-10">
    <div class="block xl:grid grid-cols-2 gap-4">
      <!-- BEGIN: Register Info -->
      <div class="hidden xl:flex flex-col min-h-screen">
        <div class="my-auto">
          <img alt="Палата №6" class="-intro-x w-1/2 -mt-16" src="dist/images/illustration.svg">
          <div class="-intro-x text-white font-medium text-4xl leading-tight mt-10">
            Палата
            <br>
            №6
          </div>
          <div class="-intro-x mt-5 text-lg text-white text-opacity-70 dark:text-slate-400">Автомастерская в которой
            вылечат ваш автомобиль <p> и восстановит ваше душевное состояние</p>
          </div>
        </div>
      </div>
      <!-- END: Register Info -->
      <!-- BEGIN: Register Form -->
      <div class="h-screen xl:h-auto flex py-5 xl:py-0 my-10 xl:my-0">
        <div
            class="my-auto mx-auto xl:ml-20 bg-white dark:bg-darkmode-600 xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-2/4 xl:w-auto">
          <h2 class="intro-x font-bold text-2xl xl:text-3xl text-center xl:text-left">
            Регистратура
          </h2>

          <form action="{% url 'registration' %}" method="post">
            {% csrf_token %}
            <div class="intro-x mt-8">
              <div class="text-danger mt-2">{{ reg_form.email.errors }}</div>
              <label for="reg-email"></label>
              <input id="reg-email" name="{{ reg_form.email.html_name }}" type="email"
                     class="intro-x login__input form-control py-3 px-4 block" placeholder="Электронная почта">

              <div class="text-danger mt-2">{{ reg_form.phone_number.errors }}</div>
              <label for="reg-phone-number"></label>
              <input id="reg-phone-number" name="{{ reg_form.phone_number.html_name }}" type="text"
                     class="intro-x login__input form-control py-3 px-4 block mt-4" placeholder="Номер телефон">

              <label for="reg-password1"></label>
              <input id='reg-password1' name="{{ reg_form.password1.html_name }}" type="password"
                     class="intro-x login__input form-control py-3 px-4 block mt-4" placeholder="Пароль">

              <div class="text-danger mt-2">{{ reg_form.errors.password2 }}</div>
              <label for="reg-password2"></label>
              <input id="reg-password2" name="{{ reg_form.password2.html_name }}" type="password"
                     class="intro-x login__input form-control py-3 px-4 block mt-4" placeholder="Повтори пароль">

              <div class="intro-x w-full grid grid-cols-12 gap-4 h-1 mt-3">
                <div id="mark-email" class="col-span-3 h-full rounded bg-slate-100 dark:bg-darkmode-800"></div>
                <div id="mark-phone-number" class="col-span-3 h-full rounded bg-slate-100 dark:bg-darkmode-800"></div>
                <div id="mark-password1" class="col-span-3 h-full rounded bg-slate-100 dark:bg-darkmode-800"></div>
                <div id="mark-password2" class="col-span-3 h-full rounded bg-slate-100 dark:bg-darkmode-800"></div>
              </div>
            </div>
            <div class="intro-x mt-5 xl:mt-8 text-center xl:text-left">
              <button class="btn btn-primary py-3 px-4 w-full xl:w-32 xl:mr-3 align-top" type="submit">Register</button>
              <a href="{% url 'my_login' %}">
                <button class="btn btn-outline-secondary py-3 px-4 w-full xl:w-32 mt-3 xl:mt-0 align-top" type="button">Sign in</button>
              </a>
            </div>
          </form>
        </div>
      </div>
      <!-- END: Register Form -->
    </div>
  </div>
{% endblock content %}