{% extends 'car/car.html' %}
{% load static %}

{% block detail_info %}
<div class="intro-y box px-5 pt-5 mt-5">
    <div class="flex flex-col lg:flex-row border-b border-slate-200/60 dark:border-darkmode-400 pb-5 -mx-5">
        <div class="flex flex-1 px-5 items-center justify-center lg:justify-start">
            <div class="w-20 h-20 sm:w-24 sm:h-24 flex-none lg:w-32 lg:h-32 image-fit relative">
                {% if object.car_photo %}
                    <img alt="Пациент" class="rounded-full" src="{{ object.car_photo.url }}">
                {% else %}
                    <img alt="Пациент" class="rounded-full" src="{% static 'images/car/default_car.jpg' %}">
                {% endif %}
            </div>
            <div class="ml-5">
                <div class="w-24 sm:w-40 truncate sm:whitespace-normal font-medium text-lg">{{ object.car_brand }}</div>
                <div class="text-slate-500">{{ object.car_model }}</div>
                <div class="text-slate-500">{{ object.release_year }} г.</div>
            </div>
        </div>
        <div
            class="mt-6 lg:mt-0 flex-1 px-5 border-l border-r border-slate-200/60 dark:border-darkmode-400 border-t lg:border-t-0 pt-5 lg:pt-0">
            <div class="font-medium text-center lg:text-left lg:mt-3">Личная информация</div>
            <div class="flex flex-col justify-center items-center lg:items-start mt-4">
                <div class="truncate sm:whitespace-normal flex items-center">
                    <i data-lucide="aperture" class="w-4 h-4 mr-2"></i>
                    Винкод: {{ object.vin_code }}
                </div>
                <div class="truncate sm:whitespace-normal flex items-center mt-3">
                    <i data-lucide="aperture" class="w-4 h-4 mr-2"></i>
                    Регистрационный номер: {{ object.reg_number }}
                </div>
            </div>
        </div>
        <div
            class="mt-6 lg:mt-0 flex-1 px-5 border-l border-r border-slate-200/60 dark:border-darkmode-400 border-t lg:border-t-0 pt-5 lg:pt-0">

            <div class="font-medium text-center lg:text-left lg:mt-3">Контакты</div>
            <div class="flex flex-col justify-center items-center lg:items-start mt-4">
                <div class="truncate sm:whitespace-normal flex items-center">
                    <i data-lucide="mail" class="w-4 h-4 mr-2"></i> Владелец: {{ object.user }}
                </div>
                <div class="truncate sm:whitespace-normal flex items-center mt-3">
                    <i data-lucide="phone" class="w-4 h-4 mr-2"></i>
                    Дата регистрации на сайте: {{ object.created_date }}
                </div>
            </div>
        </div>
    </div>
    {% include 'components-cars/car-menu.html' %}

</div>
{% block edit_car_info %}    {% endblock edit_car_info %}
{% endblock detail_info %}