{% block messages %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible show flex items-center mb-2" role="alert">
                <i data-lucide="alert-triangle" class="w-6 h-6 mr-2"></i> {{ message }}
                <button type="button" class="btn-close" data-tw-dismiss="alert" aria-label="Close">
                    <i data-lucide="x" class="w-4 h-4"></i>
                </button>
            </div>
        {% endfor %}
    </ul>
{% endif %}
{% endblock messages %}