{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description"
      content="Midone admin is super flexible, powerful, clean & modern responsive tailwind admin template with unlimited possibilities.">
<meta name="keywords"
      content="admin template, Midone Admin Template, dashboard template, flat admin template, responsive admin template, web app">
<meta name="author" content="LEFT4CODE">
<title>{% block title %}{{ title }}{% endblock %}</title>
<!-- BEGIN: CSS Assets-->
<script src="{% static 'index/js/jquery-3.6.4.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'index/css/first_step_app.css' %}"/>
<!-- END: CSS Assets-->
