{% load static %}

<li>
    <a href="javascript:;" class="side-menu">
        <div class="side-menu__icon"><i data-lucide="truck"></i></div>
        <div class="side-menu__title">
            Мои машины
            <div class="side-menu__sub-icon "><i data-lucide="chevron-down"></i></div>
        </div>
    </a>
    <ul>
        <li>
            <a href="{% url 'cars:create-car' %}" class="side-menu">
                <div class="side-menu__icon"><i data-lucide="truck"></i></div>
                <div class="side-menu__title"> Создать</div>
            </a>
        </li>

        <li>
            <a href="{% url 'cars:list-car' %}" class="side-menu">
                <div class="side-menu__icon"><i data-lucide="list"></i></div>
                <div class="side-menu__title">Список машин</div>
            </a>
        </li>
        <li>
            <a href="{% url 'cars:list-car' %}" class="side-menu">
                <div class="side-menu__icon"><i data-lucide="list"></i></div>
                <div class="side-menu__title">Список машин</div>
            </a>
        </li>
        <li>
            <a href="" class="side-menu">
                <div class="side-menu__icon"><i data-lucide="delete"></i></div>
                <div class="side-menu__title"> Удалить машину</div>
            </a>
        </li>
    </ul>
</li>